body {
    /* font */
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    
    /* center */
    margin: 0 auto;
    max-width: 650px;

    padding: 10px;
}

a {
    color: inherit;
    text-underline-offset: 10%;
    text-decoration-color: lightgray;
}
